<head>
    <title>Concursos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class=" blue lighten-5">
    <div class="container">
        <div>
            <a routerLink="/cadastrarConcurso" class="btn waves-effect waves-light z-depth-5">Novo Concurso</a>
        </div>
        <div>
            <h2>Listagem dos Concursos</h2>

            <table class="table">
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Quantidade De Vagas</td>
                </tr>
                <tr *ngFor="let concurso of concursos">
                    <td>{{concurso.idConcurso}}</td>
                    <td>{{concurso.nome}}</td>
                    <td>{{concurso.quantidadeVagas}}</td>
                    <td>
                        <button class="btn green darken-4 z-depth-2">
                            Me inscrever
                        </button>
                        <a routerLink="/concursoCandidato">
                        <button class="btn blue darken-1 z-depth-2">
                            Detalhes
                        </button>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/editarConcurso/{{concurso.idConcurso}}">
                            <button class="btn blue darken-4 z-depth-2">
                                Editar
                            </button>
                        </a>
                        <button id="btnRemover" class="btn red darken-4 z-depth-2"
                            (click)="toggleModalExcluir(concurso)">
                            Remover
                        </button>
                        
                    </td>

                </tr>

            </table>
        </div>
    </div>
    <div id="modalRemover" class="modal" *ngIf="exibirModal">
        <div class="modal-content">
            <h5>Deseja mesmo remover o concurso {{concurso.nome}} ?</h5>
            <button class="btn orange darken-4 z-depth-2" (click)="remover()">
                Remover
            </button>
            <button class="btn black z-depth-2" (click)="toggleModalExcluir(null)">
                Fechar
            </button>
        </div>
    </div>
</body>