<!DOCTYPE html>
<html>

<head>
    <title>Cadastro de Concursos</title>
</head>

<body>
    <form method="POST" (ngSubmit)="salvar(formConcurso)">
        <table>
            <tr>
                <td>Nome</td>
                <td><input type="text" id="nome" name="nome" class="form-control" required></td>

            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn waves-effect waves-light right">Salvar</button></td>
            </tr>
        </table>
    </form>
</body>

</html>